-f https://download.pytorch.org/whl/cu113/torch_stable.html
-f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py38_cu113_pyt1110/download.html
torch==1.11.0+cu113
torchvision==0.12.0+cu113
pytorch3d
matplotlib==3.5.0
Pillow==9.0.0
PyOpenGL
PyOpenGL_accelerate
PyYAML>=6.0
yacs>=0.1.8
scikit-image==0.19.1
termcolor
tqdm==4.62.3
loguru==0.5.3
trimesh==3.9.35
flatten_dict==0.4.2
jpeg4py
shapely==1.7.1
vedo==2020.4.2
rtree==0.9.7
pytorch_lightning==1.2.5
PyMCubes
kornia
chumpy
cython==0.29.20
rembg>=2.0.3
opencv-python
opencv_contrib_python
scikit-learn
ipykernel==5.3.4
ipywidgets==7.6.5
protobuf==3.20.0
pymeshlab
dataclasses>=0.6
https://download.is.tue.mpg.de/icon/kaolin-0.11.0-cp38-cp38-linux_x86_64.whl
https://download.is.tue.mpg.de/icon/human_det-0.0.2-py3-none-any.whl
https://download.is.tue.mpg.de/icon/voxelize_cuda-0.0.0-cp38-cp38-linux_x86_64.whl

